<div class="menu" onclick="toggleMenu()">
    &#9776; 
</div>
<nav>
    <ul id="nav-links">
        <li><a href="/">Inicio</a> </li>
        <li><a href="/agenda">Agenda</a></li>
        <li><a href="/contactos">Contactos</a></li>
    </ul>
</nav>

<h1>Agenda Eniac</h1>