<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>
<div class="contenido">
    <img src="../contactos.jpg" alt="contactos">

</div>
   

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>